.contacto__rrss {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;

    p{
        text-align: center;
        font-family: 'Spartan';
    }

    &__links {
        display: flex;
        justify-content: space-around;

        a{
            color: map-get($colores, principal);
        }
        a:hover{
            color: map-get($colores, secundario-beige);
            border-radius: 1px;
            background-color: map-get($colores, secundario-verde);
            padding: 5px;
            border-radius: 8px;
        }

    }

    &__contenedor {
        padding: 0px 10px;

        &__img {
            object-fit: cover;
            width: 100%;
            padding: 0px;
            border-radius: 8px;
        }

    }

}

.contacto {
    @include flexsa;
    padding: 5px 15px;
    
    margin: 1% 5%;

    .form__img{
        width: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    .form__contacto {
        width: 50%;
        padding: 30px;
        background-color: map-get($colores, secundario-beige);
        margin: auto;
        font-family: 'Spartan';
        color: #0a0000;

        &__controls {
            width: 100%;
            background: map-get($colores, secundario-beige);
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border-bottom: 3px solid #022411;
            font-family: 'Spartan';
            font-size: 15px;
        }

        &__controls-grande {
            @extend .form__contacto__controls;
            resize: none;

        }

        div {
            height: 40px;
            text-align: center;
            font-size: 15px;
            line-height: 40px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        &__botons {
            width: 100%;
            padding: 5px;
            font-size: 18px;
            font-family: 'Spartan';
            margin: 16px 0px;
            color: #0d0d0e;
            background-color: map-get($colores, secundario-beige);
            border: 2px outset #b8ac85;
            border-radius: 10px;
            box-shadow: 0 2px map-get($colores, principal);
            cursor: pointer;

        }

        &__botons:hover {
            transform: scale(1.02);
            background-color: map-get($colores, secundario-verde);
            transition-duration: 0.5s;
            color: #faf6d4;

        }

        &__botons:active {
            background-color: map-get($colores, principal);
            box-shadow: 0 3px #979696;
            transform: translateY(10px);
            transition-duration: 0.2s;
        }

        &__botons:target {
            transition-duration: 2s;
            background-color: map-get($colores, principal);

        }

    }
}