
.contacto {
    @include flexcenter;
    padding: 15px;

    .form__contacto {
        width: 26rem;
        padding: 30px;
        background-color: map-get($colores , secundario-beige);
        margin: auto;
        font-family: 'Spartan';
        color: #0a0000;

        &__controls {
            width: 100%;
            background: map-get($colores , secundario-beige);
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border-bottom: 3px solid #022411;
            font-family: 'Spartan';
            font-size: 15px;
        }

        &__controls-grande {
            @extend .form__contacto__controls;
            resize: none;
            
        }

        div {
            height: 40px;
            text-align: center;
            font-size: 15px;
            line-height: 40px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        &__botons {
            width: 100%;
            padding: 5px;
            font-size: 18px;
            font-family: 'Spartan';
            margin: 16px 0px;
            color: #0d0d0e;
            background-color: map-get($colores , secundario-beige);
            border: 2px outset #b8ac85;
            border-radius: 10px;
            box-shadow: 0 2px map-get($colores , principal);
            cursor: pointer;
        
        }

        &__botons:hover {
            transform: scale(1.02);
            background-color: map-get($colores , secundario-verde);
            transition-duration: 0.5s;
            color: #faf6d4 ;

        }

        &__botons:active {
            background-color: map-get($colores , principal);
            box-shadow: 0 3px #979696;
            transform: translateY(10px);
            transition-duration: 0.2s;
        }

        &__botons:target {
            transition-duration: 2s;
            background-color: map-get($colores , principal);

        }

    }
}

