* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colores:(principal: #608b6e,
    secundario-verde: #67A68A,
    secundario-beige: #f0dd9e,
    boton: #f1e199);

@function color($colorelegido) {
    @return map-get($colores, $colorelegido);
}

ul {
    list-style: none;
}

a {

    color: white;
    text-decoration: none;
}

a:hover {
    color: map-get($colores, secundario-beige);
}


.img-carrusel {
    height: 50vh;
    object-fit: cover;
}

.detalle__index {

    background-color: #e2e5e7;
    font-family: 'Spartan';
    padding: 3rem;

}


@mixin flexcenter {
    display: flex;
    justify-content: center;
}

@mixin flexsa {
    display: flex;
    justify-content: space-around;

}

@mixin inicio__contenedor--generico($color) {
    @include flexsa;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    background-color: $color;
}

@mixin card-font {
    font-family: 'Spartan';
    font-size: 15px;
}

@mixin card-font-mobile {
    font-family: 'Spartan';
    font-size: 10px;
}

@mixin card-item {
    width: 50%;
    padding: 0px 10px;
    object-fit: cover;
    border-radius: 18px;
    font-family: 'Lato';
}

@mixin card-item-mobile {
    width: 50%;
    padding: 0px 5px;
    object-fit: cover;
    border-radius: 18px;
    font-family: 'Lato';
}

@mixin img-square($pixels) {
    width: $pixels;
    height: $pixels;
}

.inicio__contenedor {
    @include inicio__contenedor--generico(#bee0c8);

    p {
        @include card-font;
    }

    &__items {
        @include card-item;
    }

}

.inicio__contenedor-color2 {
    @include inicio__contenedor--generico(#CDEDBE);

    p {
        @include card-font;
    }

    &__items {
        @include card-item;
    }
}

.inicio__contenedor-color3 {
    @include inicio__contenedor--generico(#C6F7C7);

    p {
        @include card-font;
    }

    &__items {
        @include card-item;
    }
}

.subtitulo {
    text-align: center;
    padding: 1rem;
    color: map-get($colores, principal);
    font-family: 'Spartan';

}

.contenedor__menu {
    @include flexsa;
    margin: 10px;
    align-content: center;
    flex-flow: column wrap;

}

.contenedor__menu__card {
    @include flexsa;
    width: 70%;
    padding: 15px;
    border-radius: 18px;
    font-family: 'Lato';
    margin: 15px;
    align-items: center;
    background-color: map-get($colores, secundario-beige);

    &__items {
        width: 50%;
    }

}

.contenedor__menu__card__text {
    padding: 5px;
    width: 60%;
}

.contenedor__menu__card__img {
    @include img-square(150px);
    object-fit: cover;
    border-radius: 50%;
}


.nosotros {
    margin: 0px;
    padding: 0px;
    //min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan';


}

.nosotros__container {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    &__card {
        width: 50%;
        padding: 15px;
        box-shadow: 5px 5px 10px 0px #071f0d;
        
        &__f {
            transition: 0.5s;
            
        }
        &__f1 {
            background: map-get($colores, secundario-verde );
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        
        }
       
    }
    &__card:hover{
        .nosotros__container__card__content{
            opacity: 1;
        }
        
    }
}

.nosotros__container__card__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    h3{
        color: white;
        padding: 10px;
    }
    p{
        font-size: 15px;    
        padding: 15px;
    }
}


.nosotros__img {
    @include img-square(80px);

    object-fit:cover;
    opacity: 0.2;
    transform: 0.5s;
}

.nosotros__img:hover{
    opacity: 1;
}
