#grid {
    display: grid;
    grid-template-areas: "header header header header header"
        "section section section section section"
        "div div div div div"
        "div2 div2 div2 div2 div2"
        "div3 div3 div3 div3 div3"
        "footer footer footer footer footer";
}



.header{
    grid-area: header;
}

.section {
    grid-area: section;
}

.div {
    grid-area: div;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}
.footer{
    grid-area: footer;
}



