header {
    position: sticky;
    top: 0;
    h1 {
        color: map-get($colores , principal);
        font-family: 'Lato', sans-serif;
        text-align: center;
        background-color: #F5E9C3;
        margin: 0px;

    }

    .navbar-custom {
        background-color: map-get($colores , principal);
        z-index: 999;
        font-family: 'Lato';
        font-size: 19px;
    }

}
.header__Logo {
    background-image: url("../assets/img/fondoIcono.jpg");
    background-size: cover;
}
.centerLogo {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
}
