@media screen and (max-width: 425px) {
    #grid {
        grid-template-areas: "header""section""div""div2""div3""footer";
        grid-template-columns: 1fr;
    }

    a {
        font-size: 1rem;
    }

    .contenedor {
        @include flexcenter;
        max-width: 100%;
        height: 400px;
        background-image: url("https://i.picsum.photos/id/431/5398/3599.jpg?hmac=bc325kFqsm626RGhgs-XwG_GFqd4x3VmXtramO12qL8");
        background-size: cover;
        background-position: center;

    }

    .contenedor__titulo {
        @include flexcenter;
        font-size: 1rem;
        height: 10%;
        width: 70%;
        align-items: center;
        padding: 0px;

    }

    .inicio__contenedor {
        @include inicio__contenedor--generico(#bee0c8);

        p {
            @include card-font;
        }

        &__items {
            @include card-item;
        }

    }

    .inicio__contenedor-color2 {
        p {
            @include card-font-mobile;
        }

        &__items {
            @include card-item-mobile;
        }
    }

    .inicio__contenedor-color3 {
        p {
            @include card-font-mobile;
        }

        &__items {
            @include card-item-mobile;
        }
    }

    .contenedor__menu__card {
        width: 100%;
        padding: 5px;
        border-radius: 18px;
        margin: 5px;

        &__items {
            width: 50%;
        }

        h4 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }

    }

    .contenedor__menu__card__img {
        @include img-square(100px);
        border-radius: inherit;
    }


    .contacto {
        flex-flow: column wrap;
        padding: 0px;
        margin: 1% 5%;

        .form__img {
            width: 100%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .form__contacto {
            width: 100%;
            padding: 15px;
        }
    }
}